* {
  margin: 0;
  padding: 0;
  background-color: white;
}

#header-logo {
  height: 50px;
  width: 50px;
  margin: 0.5rem;
  text-align: center;
  font-size: 3rem;
}

.header-left {
  display: flex;
  margin: 0.5rem;
}

.header-right {
  display: flex;
}

h1 {
  margin: 0.5rem;
}

#waste-time {
  text-align: center;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

#welcome-user {
  margin-top: 1rem;
  margin-left: 60rem;
  text-align: right;
}

#karma {
  margin-left: 60rem;
}

#user-logo {
  height: 50px;
  margin-top: 0.5%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ff4500;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.article-card {
  margin: 2rem;
  border: solid black 1px;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 50rem;
}

li {
  list-style-type: none;
}

#comment-input {
  width: 25rem;
  height: 5rem;
  border-radius: 0.25rem;
}

#post-button {
  width: 2.5rem;
  border-radius: 0.25rem;
}

#post-button:hover {
  background-color: #ff4500;
}

.single-article-container {
  margin: 2rem;
  width: 50%;
  border: solid black 1px;
  border-radius: 0.25rem;
  padding: 1rem;
}

.votes {
  display: flex;
  text-align: right;
}

#vote-up {
  font-size: 1rem;
}

#vote-down {
  font-size: 1rem;
}

.comment-container {
  margin: 2rem;
  width: 50%;
  border: solid black 1px;
  border-radius: 0.25rem;
  padding: 1rem;
}

.article-comments-container {
  margin: 2rem;
  width: 50%;
  border: solid black 1px;
  border-radius: 0.25rem;
  padding: 1rem;
}

#comment-card {
  padding: 1rem;
}
