* {
  margin: 0;
  padding: 0;
  background-colour: white;
}

#header-logo {
  height: 50px;
  width: 50px;
  margin: 0.5rem;
}

.header-left {
  display: flex;
  margin: 0.5rem;
}

.header-right {
  display: flex;
}

h1 {
  margin: 0.5rem;
}

#waste-time {
  text-align: center;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

#welcome-user {
  margin-top: 1rem;
  margin-left: 60rem;
}

#user-logo {
  height: 5px;
}
